In [2]:
import pandas as pd
import numpy as np

In [50]:
A = ["a", "b", "c"]
B = ["red", "blue", "green"]
C = ["d", "e", "f"]
D = ["g","h","i"]
E = [np.nan,np.nan,np.nan]
F = [8,9,10]
df = pd.DataFrame([B,C,E,F], columns=A)
df2 = pd.DataFrame([D,E,range(4,7),range(10,13)],columns=A)
# print(df)
# print(df2)

df['otro'] = np.nan
# df.loc[1,'otro'] = df.loc[3,'c']
df

     a     b      c  otro
0  red  blue  green   NaN
1    d     e      f   NaN
2  NaN   NaN    NaN   NaN
3    8     9     10   NaN

  date value
0    1     2