In [1]:
import pandas as pd
import numpy as np

In [2]:
A = ["a", np.nan, "c", "d", "e", "f"]
B = ["g", "h", "i", "j", np.nan, "l"]
C = range(0,12,2)
df = pd.DataFrame({'C':C,'A':A})
df2 = pd.DataFrame({'C':C,'B':B})
df3 = df.merge(df2,on='C')
df3.loc[2,'A'] = "z"

df4 = pd.DataFrame({'C': C, 'A':df3.loc[:,'A']})
print(df2.merge(df4,on='C',how='outer'))
df5 = df2.dropna().reset_index().merge(df4.dropna().reset_index(),how='outer',on=['index','C']).set_index('index').sort_index()
df5.index.name = None
df5
# df4.loc[2,'A'] = "w"
# df3
# df5 = df3['C'].loc[(df3['C'] > 1) & (df3['C'] < 5)]
# df3['C'] = df3['C'].loc[(df3['C'] > 1) & (df3['C'] < 5)]
# df3
# df3['C'] = df5
# df5
# df3.dropna()

    C    B    A
0   0    g    a
1   2    h  NaN
2   4    i    z
3   6    j    d
4   8  NaN    e
5  10    l    f

    C    B    A
0   0    g    a
1   2    h  NaN
2   4    i    z
3   6    j    d
4   8  NaN    e
5  10    l    f

In [18]:
df6 = df2.dropna().reset_index().merge(df.dropna().reset_index(),how='outer',on=['index','C']).set_index('index').sort_index()
df6.index.name = None
print(df)
print(df2)
df6

    C    A
0   0    a
1   2  NaN
2   4    c
3   6    d
4   8    e
5  10    f
    C    B
0   0    g
1   2    h
2   4    i
3   6    j
4   8  NaN
5  10    l

    C    B    A
0   0    g    a
1   2    h  NaN
2   4    i    c
3   6    j    d
4   8  NaN    e
5  10    l    f

In [36]:
df_1 = pd.DataFrame({'date': [1, 2, 3, 4, 5, 6], 'values_1': [2,4,np.nan,8,10,12], 'values_12': [4,8, np.nan,16,20,24]})
df_2 = pd.DataFrame({'date': [0, 1, 2, 3, 4, 5], 'values_2':[0,3,6,9,np.nan,15]})
df_1.merge(df_2,how='outer',on='date').sort_values('date').reset_index().drop('index',axis=1)
nan_values = np.empty((df5.shape[0],1))
nan_values.fill(np.nan)
df5['A'] = nan_values
df5

    C    B   A
0   0    g NaN
1   2    h NaN
2   4    i NaN
3   6    j NaN
4   8  NaN NaN
5  10    l NaN